<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">
			<%= 
			   if params[:q] 
				render 'active_search.html.erb'
			   else
			   	render 'passive_search.html.erb'
			   end
			%>	
			<%= form_tag("/search", method: "get", :class => "form-search form-inline") do %>
			  <%= label_tag(:q, "Search for:") %>
			  <%= text_field_tag(:q, nil, class:"input-medium search-query") %>
			  <%= submit_tag("Search", :class=>"btn") %>
			<% end %>

			<div class="media" data-bind="foreach: tweetsArray">
				<%= image_tag('twitter-icon.svg', :class=>"tweet_img", :style=>"display:inline;") %> 
				<div class="media-body" style="display:inline;">
					<h4 class="media-heading" data-bind="text: user.screen_name" style="display:inline;"></h4>
					<span data-bind="text:text" style="display:inline;"></span> <br/>
					<span data-bind="text:'Created at '+created_at"></span> <br />
				</div>
			</div>
	
			<div class="pagination">
				<ul>
					<li>
						<a href="#">Prev</a>
					</li>
					<li>
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">Next</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="map">
			content?
		</div>
	</div>
</div>

<script>
var viewModel = new twitterResearch.TweetViewModel();
ko.applyBindings(viewModel);

//TODO: notes to self, use custom binding for pagination along with a computed observable to determine where at in the list you are

//document.onReady callback function
$(function() {
		$.getJSON('twitter', {}, function(data) {
			  viewModel.pushTweet(data);
			  console.log(data.user);
		});
});
</script>