<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">
			<%=
                # Why is this necessary? Seems like a waste of files and more confusing than it needs to be.
			   if params[:q] 
				render 'active_search.html.erb'
			   else
			   	render 'passive_search.html.erb'
			   end
			%>	
			<%= form_tag("/search", method: "get", :class => "form-search form-inline") do %>
			  <%= label_tag(:q, "Search for:") %>
			  <%= text_field_tag(:q, nil, {class:"input-medium search-query", onkeyup:"mimicSearch(null);", id:"searchbox", value:params[:q] ? params[:q] : ''}) %>
			  <%= submit_tag("Search", :class=>"btn") %>
			<% end %>

			<div class="media" data-bind="foreach: paginated">
				<%= image_tag('twitter-icon.svg', :class=>"tweet_img", :style=>"display:inline;") %> 
				<div class="media-body" style="display:inline;">
					<h4 class="media-heading" data-bind="text: user.screen_name" style="display:inline;"></h4>
                  <span style="font-size: 10px;" data-bind="text:'Created on '+created_at"></span> <br />
					<span data-bind="text:text" style="display:inline;"></span> <br/>
				</div>
			</div>
	
			<div class="pagination">
				<ul>
					<li>
						<a data-bind="click: previous">Prev</a>
					</li>
					<li>
						<a data-bind="text: page"></a>
					</li>
					<li>
						<a data-bind="click: next">Next</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="map">
			    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0; }
      #map-canvas { height: 100% }
	  #control-panel { height: 100px; padding: 30px 25px 45px 25px; background: url('fade.png') repeat-x #000; color:#fff; font-size: 14px;  }
	  input { padding: 8px; margin: 5px 10px; font-size: 14px; }
	  label { font-size: 18px; }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU0mPug-Q9GT3rqeg7gRN0dKkjNJCyieM&sensor=true&libraries=visualization">
    </script>
    <script type="text/javascript">
      function initialize() {
		var fusionTableId = '1Lxp4IOOyIpiyCD3LCwc4iS3HHeyQHMFZKGxEI7w';
		var sanFrancisco = new google.maps.LatLng(37.774546, -122.433523);
		
		//Initialize the actual map
		map = new google.maps.Map(document.getElementById('map-canvas'), {
		  center: sanFrancisco,
		  zoom: 4,
		  mapTypeId: google.maps.MapTypeId.SATELLITE
		});
		
		//Add overlay
		viewMap('1Lxp4IOOyIpiyCD3LCwc4iS3HHeyQHMFZKGxEI7w', 'Location');
		
		// Sample: 1xWyeuAhIFK_aED1ikkQEGmR8mINSCJO9Vq-BPQ
		// Ours: 1Lxp4IOOyIpiyCD3LCwc4iS3HHeyQHMFZKGxEI7w

          <%= params[:q] ? "searchMap(null);" : "" %>
      }


	  
	  function viewMap(ID, columnName, query) {
		if (typeof standard != 'undefined' && standard)
			standard.setMap(null);
		if (typeof heatmap != 'undefined' && heatmap)
			heatmap.setMap(null);
         if (query)
            sql = query;
          else
            sql = "";
		if (document.getElementById('heatmap-toggle').checked == false)  {
            standard = new google.maps.FusionTablesLayer({
                query: { select: columnName, from: ID, where: sql}
            });
			standard.setMap(map); //Show the dotted map by default.
        }
		else {
            heatmap = new google.maps.FusionTablesLayer({
                query: { select: columnName, from: ID, where: sql},
                heatmap: { enabled: true }
            });
			heatmap.setMap(map); //Show the heatmap by default.
        }
	  }
	  
	  function toggleHeatmap() {
		if (standard.getMap() == null) {
			heatmap.setMap(null);
			standard.setMap(map);
		} else {
			standard.setMap(null);
			heatmap.setMap(map);
		}
	  }
	function mimicSearch(query) {
        document.getElementById('search-text').value = document.getElementById('searchbox').value;
        searchMap(query);
    }
	function searchMap(query) {
        UIquery = document.getElementById('search-text').value;
        var tempUIquery = UIquery;
        if (query != UIquery) {
            document.getElementById('search-button').setAttribute("disabled","disabled");
            document.getElementById('search-button').value = 'Searching...';
            setTimeout(function(){searchMap(tempUIquery);},200);
        }
        else {
            viewMap('1Lxp4IOOyIpiyCD3LCwc4iS3HHeyQHMFZKGxEI7w','Location', "Text CONTAINS '" + query + "'");
            document.getElementById('search-button').removeAttribute("disabled");
            document.getElementById('search-button').value = 'Search';
        }
	}
	  

      google.maps.event.addDomListener(window, 'load', initialize);
	  
    </script>
  	<div id="control-panel">
        <input type="radio" onclick="viewMap('1Lxp4IOOyIpiyCD3LCwc4iS3HHeyQHMFZKGxEI7w','Location');" name="map-data" id="default" checked /><label for="default">Tweets</label><br />
        <input type="radio" onclick="viewMap('1xWyeuAhIFK_aED1ikkQEGmR8mINSCJO9Vq-BPQ','Location');" name="map-data" id="sample" /><label for="sample">Earthquakes (Google)</label><br />
        
    	<input type="checkbox" onclick="toggleHeatmap();" id="heatmap-toggle"/><label for="heatmap-toggle">View Heatmap</label><br />
	    <input type="text" id="search-text" onkeyup="searchMap(null)" value="<%= params[:q] ? params[:q] : '' %>" /><input type="button" id="search-button" value="Search" onclick="searchMap(null);"/>
    </div>
    <div id="map-canvas"/>
		</div>
	</div>
</div>

<script>
var viewModel = new twitterResearch.TweetViewModel();
ko.applyBindings(viewModel);

//document.onReady callback function
$(function() {
		$.getJSON('twitter', {}, function(data) {
			  viewModel.pushTweet(data);
		});
});
</script>